{% extends 'thesmes/base_user.html.twig' %}

{% block title %}Jean Dupont - Espace utilisateur - Mon profil
{% endblock %}

{% block description %}Jean Dupont - Espace utilisateur - Mon profil
{% endblock %}


{% block main %}
	<h1 class="text-center my-3 display-5">mon profil</h1>
{% endblock %}
