{% extends "themes/base_visitor.html.twig" %}

{% block title %} - En attente de la vérification du compte par email{% endblock %}

{% block main %}
    <main class"mt-5 container-fluid">
        <h1 class="my-3 display-5 text-center">En attente...
        </h1>
        <p class="mt-5 text-center">Un email vous a etet envoyé pour la validation de votre compte</p>
    </main>
{% endblock %}